*

  body{
    margin : 10% ;
   }
 

  a {
    word-spacing: 5px;
    text-decoration: none;
  }

  .nom {
  
   font-size: larger;
  }

  .btn{
    background-color: white;
    border-radius: 15%;
    border-width: 0.1px;
    color : blue;
    font-size: 10px ;
    padding: 2px;
  }

 
 .photo {
    
    font-size: 15px;
    border-width:1px;
    border-style: solid;
    border-color:black;
    text-align: center;
 }

 .photo  span {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20%;
    padding: 5px;
 }

  hr {
    margin: 15px;
  }

 ul{
    list-style: none;
    padding-left: 2px;   
 }

 .text{  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

 }


 @media only screen and (min-width: 400px){
 

    .textEtPhoto{
        display:flex;
        flex-direction: row-reverse;
        -ms-flex-align: start;
        
    }

    .photo{
        width: 30%;
    }
    .text{
        width: 50%;
        margin: 100px;
    }
   
}